<div id='hangout' style="padding-top:40px;width:100%;text-align:center">

</div>
<div id="rulesSection" width="100%" style="text-align:center;margin-top:50px">
<%= link_to "Orasi Code Challenge Rules", "rules", "class" => "btn btn-lg btn-primary" %>
</div>
